# "zooapi" es el nombre que le di a mi bd local - puedes usar el que quieras, siempre que coincida con el que creaste en postgre.

DATABASE_URL="postgresql://usuario:password@localhost:5432/zooapi?schema=public" 
PORT=3000